.index{
  :global{
    .section-row{
      min-height: 500px;
      background:#f8f8f8;
      padding: 50px;
      .title{
        font-size: 28px;
        color: #24833a;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
      }
      .subTitle{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .desc{
        text-indent: 2em;
        line-height: 2em;
      }
      .cont{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        .product-item{
          width: 580px;
          box-sizing: border-box;
          height: 430px;
          padding: 30px 0 20px;
          background-color: #e2e7e3;
          text-align: center;
          .item-title{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
            text-align: center;
          }
          .image{
            width: 500px;
            height: 306px;
            object-fit: cover;
          }
        }
      }
    }
    .bg-white{
      background: white;
    }
  }
}
