.products{
  :global{
    .section-row{
      min-height: 500px;
      background:#f8f8f8;
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap:50px;
      .product-item{
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #eee;
        width: 500px;
        .image{
          width: 100%;
          height: 306px;
          object-fit: cover;
        }
        .desc{
          padding: 18px;
          .title{
            font-size: 16px;
            color: #000;
            margin-bottom: 8px;
          }
          .text{
            font-size: 12px;
            color: #888;
          }
        }
      }
    }
  }
}
